<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="themis-wallet"/>
    <property name="LOG_DIR" value="/root/oxchains/themis-wallet"/>
    <!--<property name="LOG_DIR" value="D:/logs/${APP_NAME}"/>-->
    <springProperty scope="context" name="logLevel" source="log.level"/>
    <appender name="rollingFileINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/themis-wallet.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/themis-wallet.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <!-- 30 day -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="INFO"/>


    <!-- 以下是日志管理系统的配置 -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!--logstash服务器，目前有两个-->
<!--        <destination>101.254.183.32:14560</destination>
        <destination>101.254.183.32:24560</destination>-->
        <destination>10.138.0.2:4560</destination>
        <destination>10.142.0.4:4561</destination>
        <destination>10.140.0.3:4561</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <!--应用的名称，每个应用最好区分开-->
            <customFields>{"appname":"themis-wallet"}</customFields>
        </encoder>
        <connectionStrategy>
            <roundRobin>
                <connectionTTL>5 minutes</connectionTTL>
            </roundRobin>
        </connectionStrategy>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="logstash"/>
        <!--<appender-ref ref="rollingFileINFO"/>-->
    </root>

</configuration>
